<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MacroInsight{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <h1>MacroInsight: VBA Macro Analysis Tool</h1>
            </div>
        </header>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="container">
                <p>&copy; 2024 MacroInsight. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>

</html>
